/* Your app's CSS, go crazy, make it your own */
body {
  background-color: #ccc;
}
.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
.pane {
  background-color: #2f3648;
}



.tile {
  border: 1px solid #ccc;
  height: 75px;
}
.mast-head {
  color: #fff;
  padding: 40px;
}
.mast-head {
  font-weight: bold;
  text-align: center;
}
.mast-head .title {
  font-size: 30px;
}
.mast-head p {
  font-size: 20px;
  line-height: 25px;
}
.debug h3 {
  color: #fff;
  margin-top: 30px;
  text-align: center;
}
.button-container {
  padding: 30px 40px;
}

/* Signup Form
 * ========================================================================== */

form[name="signupLoginForm"] {
  margin-top: 60px;
}
form[name="signupLoginForm"] i.ion-email, i.ion-locked{
  margin-right: 10px;
  margin-left: 6px;
  font-size: 20px;
  color: #999;
}
input[type="email"], input[type="password"] {
  padding: 6px;
  font-size: 18px;
  line-height: 27px;
}
input[type="email"].success, input[type="password"].success {
  border: 2px solid green;
}
input[type="email"].error, input[type="password"].error {
  border: 2px solid red;
}

/* set the same as the .pane background-color */
.list-inset {
  background-color: #303747;
}
.list-inset .button.button-balanced {
  margin-top: 20px;
}
.success {
  color: rgba(39, 174, 96,1.0);
  font-size: 24px;
}
.error {
  color: rgba(192, 57, 43,1.0);
  font-size: 24px;
}

.item {
  border: 1px solid #95afc7;
}

/* Connect Devices Pages
 * ========================================================================== */



