
/* Custom Fonts */
@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Quantico);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
  background-color: #ccc;
}
.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
.pane {
  background-color: rgba(47, 54, 72, 1);
}

.tile {
  border: 1px solid #ccc;
  height: 75px;
}

.mast-head {
  color: #fff;
  padding: 40px;
  font-weight: bold;
  text-align: center;
}
.mast-head .title {
  font-size: 30px;
}
.mast-head p {
  font-size: 20px;
  line-height: 25px;
}

.bar-fittr {
  background-color: rgba(41, 128, 185,1.0);
}

.debug h3 {
  color: #fff;
  margin-top: 30px;
  text-align: center;
}
.button-container {
  padding: 30px 40px;
}

/* Signup Form
* ========================================================================== */

form[name="signupLoginForm"] {
  margin-top: 60px;
}
form[name="signupLoginForm"] i.ion-email, i.ion-locked, i.ion-person{
  margin-right: 10px;
  margin-left: 6px;
  font-size: 20px;
  color: #999;
}
input[type="email"], input[type="password"], input[type="text"] {
  padding: 6px;
  font-size: 18px;
  line-height: 27px;
}

/* set the same as the .pane background-color */
.list-inset {
  background-color: #303747;
}
.list-inset .button.button-balanced {
  margin-top: 20px;
}
.success {
  color: rgba(39, 174, 96,1.0);
  font-size: 24px;
}
.error {
  color: rgba(192, 57, 43,1.0);
  font-size: 24px;
}

.flash {
  position: fixed;
  top:14px;
  width: auto;
  padding: 8px;
  border-radius: 4px;

  background-color: rgba(192, 57, 43,0.5);
  border: 2px solid rgba(192, 57, 43,1.0);
  /*color: rgba(192, 57, 43,1.0);*/
  color: #fff;
}
.dismiss {
  margin-left: 20px;
  cursor: pointer;
}

/* Connect Devices Pages
* ========================================================================== */
.devices {
  margin-top: 22px;
}
a.device {
  background-color: rgba(52, 73, 94,1.0);
  border: 1px solid rgba(47, 54, 72, 1);
}
a.device h2 {
  color: #fff;
}
a.device p {
  color: #daeaf5;
}

/* Main Stream
* ========================================================================== */

/* Top Bar */
.topbar {
  height: 100px;
  background: rgba(44, 62, 80, 0.95);
  box-shadow: 0 0 15px #000;
  margin-top: 44px;
  padding: 5px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.diffNum {
  /*color: #00FF00;*/
  color: #0088ff;
  font-family: 'Quantico';
  font-size: 28px;
  font-weight: bold;
}

.catDiff {
  /*color: #00FF00;*/
  color: #0088ff;
  font-family: 'Quantico';
  font-size: 18px;
}


/* Cards */
.cards-contain {
  height: 100%;
  padding-top: 145px;
  width: 100%;
}

.winning {
  background-color: green;
}

.losing {
  /*background-color: #c0392b;*/
  background-color: #E74C3C;
}

.username {
  color: #0088ff;
}

.item-avatar {
  background: #F5F5F5;
}

/*.item {
  border: 1px solid #95afc7;
}*/

.stats {
  font-size: 17px;
  font-family: 'Roboto Condensed';
  margin-left: 5px;
}

.friendValue {
  text-align: right;
}

/* Chart Styles
* ========================================================================== */
.nv-x text {
  font-size: 11px;
}
.nv-y text {
  font-size: 11px;
}
.chart h3 {
  margin: 8px 0;
}
.chart .slider {
  height: 240px;
}

/* CARD FLIP
* ========================================================================== */

.flipcardContainer {
  margin-left: 0;
  margin-right: 0;
  height: 375px;
  position: relative;
  perspective: 800px;
}

.statrow {
  -webkit-box-shadow: 0 -5px 16px -7px #888;
     -moz-box-shadow: 0 -5px 16px -7px #888;
          box-shadow: 0 -5px 16px -7px #888;
}

.col {
  color: #FFF;
}

.card {
  height: 339px;
}

.card .item-body {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.card-bar-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  width:100%;
  /*border: 1px solid #222;*/
}

.card-bar {
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
  height: 15px;
  margin: 1px 0 1px 0;
}

.item {
  border: 0;
}

.your-bar {
  background-color: #E64B5D;
}

.their-bar {
  background-color: rgba(236, 240, 241,1.0);
  /*background-color: #7f8c8d;*/
  /*background-color: #FFF;*/
  /*background-color: rgba(230, 126, 34,1.0);*/
}

.col {
  padding: 0;
}


