
/* Custom Fonts */
@import url(http://fonts.googleapis.com/css?family=Quantico);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
  background-color: #ccc;
}
.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
.pane {
  background-color: rgba(47, 54, 72, 1);
}

.tile {
  border: 1px solid #ccc;
  height: 75px;
}

.mast-head {
  color: #fff;
  padding: 40px;
  font-weight: bold;
  text-align: center;
}
.mast-head .title {
  font-size: 30px;
}
.mast-head p {
  font-size: 20px;
  line-height: 25px;
}

.bar-fittr {
  background-color: rgba(41, 128, 185,1.0);
}

.debug h3 {
  color: #fff;
  margin-top: 30px;
  text-align: center;
}
.button-container {
  padding: 30px 40px;
}

/* Signup Form
* ========================================================================== */

form[name="signupLoginForm"] {
  margin-top: 60px;
}
form[name="signupLoginForm"] i.ion-email, i.ion-locked, i.ion-person{
  margin-right: 10px;
  margin-left: 6px;
  font-size: 20px;
  color: #999;
}
input[type="email"], input[type="password"] {
  padding: 6px;
  font-size: 18px;
  line-height: 27px;
}
input[type="email"].success, input[type="password"].success {
  border: 2px solid green;
}
input[type="email"].error, input[type="password"].error {
  border: 2px solid red;
}

/* set the same as the .pane background-color */
.list-inset {
  background-color: #303747;
}
.list-inset .button.button-balanced {
  margin-top: 20px;
}
.success {
  color: rgba(39, 174, 96,1.0);
  font-size: 24px;
}
.error {
  color: rgba(192, 57, 43,1.0);
  font-size: 24px;
}

.flash {
  position: fixed;
  top:14px;
  width: auto;
  padding: 8px;
  border-radius: 4px;

  background-color: rgba(192, 57, 43,0.5);
  border: 2px solid rgba(192, 57, 43,1.0);
  /*color: rgba(192, 57, 43,1.0);*/
  color: #fff;
}
.dismiss {
  margin-left: 20px;
  cursor: pointer;
}

/* Connect Devices Pages
* ========================================================================== */
.devices {
  margin-top: 22px;
}
a.device {
  background-color: rgba(52, 73, 94,1.0);
  border: 1px solid rgba(47, 54, 72, 1);
}
a.device h2 {
  color: #fff;
}
a.device p {
  color: #daeaf5;
}

/* Main Stream
* ========================================================================== */

/* Top Bar */
.diffNum {
  /*color: #00FF00;*/
  color: #0088ff;
  font-family: 'Quantico';
  font-size: 28px;
  font-weight: bold;
}

.catDiff {
  /*color: #00FF00;*/
  color: #0088ff;
  font-family: 'Quantico';
  font-size: 18px;
}


/* Cards */

.winning {
  color: green;
}

.losing {
  color: red;
}

.username {
  color: #0088ff;
}

.item-avatar {
  background: #F5F5F5;
}

/*.item {
  border: 1px solid #95afc7;
}*/

.stats {
  /*font-size: 30px;*/
  font-size: 20px;
  font-family: 'Roboto Condensed';
  margin-left: 20px;
  text-align: right;
}

/* Chart Styles
* ========================================================================== */
.nv-x text {
  font-size: 11px;
}
.nv-y text {
  font-size: 11px;
}
.chart h3 {
  margin: 8px 0;
}
.chart .slider {
  height: 240px;
}

/* CARD FLIP
* ========================================================================== */

.flipcardContainer { 
  margin-left: 0;
  margin-right: 0;
  height: 329px;
  position: relative;
  perspective: 800px;
}

/*.card {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card figure {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .cardBack {
  background-color: blue;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}*/

/*.card.flipped figure {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
}

.card.flipped .cardFront {
  display: none;
}*/

/*Fliptest*/
.myCard {
  margin: 20px 10px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.myCard figure {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  /*backface-visibility: hidden;*/
}

.myCard .cardBack {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.myCard.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}


.partial {
  border: 1px solid #dddddd;
  background-color: white;
  color: #444444;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.partial.partial-avatar {
  background: #F5F5F5;
  padding-left: 70px;
  min-height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.partial-avatar img:first-child, .partial-avatar .partial-img {
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  border-radius: 4px; 
}

.partial h2 {
  font-size: 16px;
  margin-top: 17px;
  margin-bottom: 3px;
}

.partial p {
  color: #666;
  font-size: 14px;
}

.cardBodyFront {
  height: 272px;
  padding-left: 4px;
}

.cardBodyBack {
  height: 272px;
  padding-left: 4px;
}

.cardBodyBack h3{
  font-size: 14px;
}




