<content padding="true">



  <section class="flipcardContainer">
    <div class="myCard" ng-class="{flipped:flipme}">
      
      <figure class="cardFront">
        <!-- HEADER -->
        <div class="partial partial-avatar">
          <img src="http://ionicframework.com/img/docs/mcfly.jpg">
          <h2>Marty McFly</h2>
          <p>November 05, 1955</p>
        </div>

        <!-- BODY -->
        <div class="partial cardBodyFront">
           <div class="row">
              <div class="col">Steps</div>
              <div class="col">13513</div>
           </div>
           <div class="row">
              <div class="col">Distance (Miles)</div>
              <div class="col">5.2</div>
           </div>
            <div class="row">
              <div class="col">Calories</div>
              <div class="col">668</div>
           </div>
        </div>

        <!-- Card Footer -->
        <div class="partial">
          <button ng-click="flipme=!flipme;">
            Flip
          </button>
        </div>
      </figure>


      <figure class="cardBack">
        <!-- HEADER -->
        <div class="partial partial-avatar">
          <img src="http://ionicframework.com/img/docs/mcfly.jpg">
          <h2>Some Dude</h2>
          <p>October 05, 1955</p>
        </div>

        <!-- BODY -->
        <div class="partial chart cardBodyBack">
          <slide-box>
            <slide>
              <h3>Steps</h3>
              <nvd3-line-chart
                data="stepsData"
                id="stepsChart"
                width="312"
                height="190"
                showXAxis="true"
                showYAxis="true"
                xAxisTickFormat="xAxisTickFormat()"
                interpolate="basis"
                margin="{left:30,top:30,bottom:24,right:14}"
                showLegend="true"
                isArea="true">
                <svg></svg>
              </nvd3-line-chart>
            </slide>
            <slide>
              <h3>Floors</h3>
              <nvd3-line-chart
                data="stepsData"
                id="floorsChart"
                width="312"
                height="190"
                showXAxis="true"
                showYAxis="true"
                xAxisTickFormat="xAxisTickFormat()"
                interpolate="basis"
                margin="{left:30,top:30,bottom:24,right:14}"
                showLegend="true"
                isArea="true">
                <svg></svg>
              </nvd3-line-chart>
            </slide>
            <slide>
              <h3>Distance</h3>
              <nvd3-line-chart
                data="stepsData"
                id="distanceChart"
                width="312"
                height="190"
                showXAxis="true"
                showYAxis="true"
                xAxisTickFormat="xAxisTickFormat()"
                interpolate="basis"
                margin="{left:30,top:30,bottom:24,right:14}"
                showLegend="true"
                isArea="true">
                <svg></svg>
              </nvd3-line-chart>
            </slide>
          </slide-box>
        </div>

        <!-- Card Footer -->
        <div class="partial" style="text-align:right;">
          <button ng-click="flipme=!flipme;">
            Flip
          </button>
        </div>

      </figure>
    </div>
  </section>




</content>




<!-- 
<content padding="true">


  <div class="list card" ng-click="back()">

    <div class="item item-avatar">
      <img src="http://ionicframework.com/img/docs/mcfly.jpg">
      <h2>Marty McFly</h2>
      <p>November 05, 1955</p>
    </div>


    <div class="item item-body chart">
      <slide-box>
        <slide>
          <h3>Steps</h3>
          <nvd3-line-chart
            data="stepsData"
            id="stepsChart"
            width="312"
            height="190"
            showXAxis="true"
            showYAxis="true"
            xAxisTickFormat="xAxisTickFormat()"
            interpolate="basis"
            margin="{left:30,top:30,bottom:24,right:14}"
            showLegend="true"
            isArea="true">
            <svg></svg>
          </nvd3-line-chart>
        </slide>
        <slide>
          <h3>Floors</h3>
          <nvd3-line-chart
            data="stepsData"
            id="floorsChart"
            width="312"
            height="190"
            showXAxis="true"
            showYAxis="true"
            xAxisTickFormat="xAxisTickFormat()"
            interpolate="basis"
            margin="{left:30,top:30,bottom:24,right:14}"
            showLegend="true"
            isArea="true">
            <svg></svg>
          </nvd3-line-chart>
        </slide>
        <slide>
          <h3>Distance</h3>
          <nvd3-line-chart
            data="stepsData"
            id="distanceChart"
            width="312"
            height="190"
            showXAxis="true"
            showYAxis="true"
            xAxisTickFormat="xAxisTickFormat()"
            interpolate="basis"
            margin="{left:30,top:30,bottom:24,right:14}"
            showLegend="true"
            isArea="true">
            <svg></svg>
          </nvd3-line-chart>
        </slide>
      </slide-box>
    </div>


    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-thumbsup"></i>
        Like
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>
  </div>
</content> -->