<content padding="true" style="background: rgba(189, 195, 199,1.0)">

  <div class="cards-contain">

    <div class="flipcardContainer">
      <div class="list card animate flip-in" ng-repeat="user in users"  style="box-shadow: 0 1px 2px #555">

        <figure class="cardFront">

            <!-- Card Header -->
            <div class="item item-avatar" style="background-color: rgba(52, 73, 94, 1)">
              <div class="row">
                <div class="col">
                  <img ng-src={{user.user.authData.fitbit.avatar}} >
                  <h2 style="color: #fff; font-size: 25px; font-weight: bold" ng-click="getWeekly(user.user._id)">{{user.user.username}}</h2>
                </div>
                <div class="col">
                  <i class="fa fa-align-left fa-2x" 
                     ng-click="backShown=!backShown"
                     style="color: #fff; float: right"></i>
                </div>
              </div>
            </div>

            <!-- Card FRONT Body -->
            <div class="item item-body animate bouncy-slide-left" ng-if="!backShown" style="background-color: rgba(44, 62, 80,1.0); height:272px">
              <ul class="list">
                <li class="card-bar-container animate slide-top">
                  <div class="card-bar your-bar" ng-style="calculateYourWidth(user, 'steps')"></div>
                  <div class="card-bar their-bar" ng-style="calculateFriendWidth(user, 'steps')"></div>
                  <div class="row statrow">
                    <div class="col col-67 stats">{{currentUser.stats.steps - user.steps >= 0 ? 'You won by ' : 'You lost by '}}
                      {{Math.abs(currentUser.stats.steps - user.steps) | number:0}} steps
                    </div>
                    <div class="col stats friendValue">{{user.steps}}</div>
                </li>
                <li class="card-bar-container">
                  <div class="card-bar your-bar" ng-style="calculateYourWidth(user, 'distance')"></div>
                  <div class="card-bar their-bar" ng-style="calculateFriendWidth(user, 'distance')"></div>
                  <div class="row statrow">
                    <div class="col col-67 stats">{{currentUser.stats.distance - user.distance >= 0 ? 'You won by ' : 'You lost by '}}
                      {{Math.abs(currentUser.stats.distance - user.distance) | number:2}} miles
                    </div>
                    <div class="col stats friendValue">{{user.distance}}</div>
                </li>
                <li class="card-bar-container">
                  <div class="card-bar your-bar" ng-style="calculateYourWidth(user, 'veryActiveMinutes')"></div>
                  <div class="card-bar their-bar" ng-style="calculateFriendWidth(user, 'veryActiveMinutes')"></div>
                  <div class="row statrow">
                    <div class="col col-67 stats">{{currentUser.stats.veryActiveMinutes - user.veryActiveMinutes >= 0 ? 'You won by ' : 'You lost by '}}
                      {{Math.abs(currentUser.stats.veryActiveMinutes - user.veryActiveMinutes) | number:0}} active mins
                    </div>
                    <div class="col stats friendValue">{{user.veryActiveMinutes}}</div>
                </li>
              </ul>
            </div>


          <div class="item item-body chart animate toggle" ng-if="backShown">
            <slide-box>
              <slide ng-repeat="(statCategory, stat) in statCategories">
                <h3>{{statCategory}}</h3>
                <nvd3-line-chart
                  data="stat"
                  id="{{user.username}}{{statCategory}}Chart"
                  width="312"
                  height="190"
                  showXAxis="true"
                  showYAxis="true"
                  xAxisTickFormat="xAxisTickFormat()"
                  interpolate="basis"
                  margin="{left:30,top:30,bottom:24,right:14}"
                  showLegend="true"
                  isArea="true">
                  <svg></svg>
                </nvd3-line-chart>
              </slide>
            </slide-box>
          </div>

        </figure>
      </div>
    </div>
  </div>

</content>
