<view title="'Connect your devices'">
  <div class="bar bar-header bar-stable" style="background-color: #E64B5D; box-shadow: 0 0 2px #000">
    <i class="button button-clear icon ion-chevron-left" ng-click="goBack()"></i>
    <h1 class="title" style="color: #FFF">Connect your devices</h1>
    <i class="button button-clear icon ion-log-out" ng-click="logout()"></i>
  </div>
  <content has-header="true" has-tabs="false" padding="true">
  <div class="list devices">
    <div class="item item-divider">
      Activity Trackers
    </div>
    <a ng-repeat="device in devices" class="item item-thumbnail-left device" href="{{device.apiUrl}}">
      <img class="logo" ng-src={{device.imgUrl}}>
      <h2>{{device.deviceName}}</h2>
      <p>Connect your {{device.deviceName}}</p>
    </a>
    <!-- <div class="item item-divider">
      Social Networks
    </div>
    <a ng-repeat="service in services" class="item item-thumbnail-left" href="#">
      <img class="logo" ng-src={{service.imgUrl}}>
      <h2>{{service.serviceName}}</h2>
      <p>Go ahead and connect your {{service.serviceName}}</p>
    </a>
  </div> -->
  </content>
</view>
