
<view title="'Fittr'">
  <content has-header="true" has-tabs="false" padding="false">
<!--     <div class="mast-head">
      <p class="title">FITTR</p>
      <p>You vs the world, who's the fittest</p>
    </div>
 --> 
    <div class="row" style="margin-top: 150px">
      <div class="col">
        <a class="button button-block button-balanced" href="#/signup">
          Signup
        </a>
      </div>
      <div class="col">
        <a class="button button-block" href="#/login" style="background-color: #34495e; color: #FFFFFF">
          Login
       </a>  
      </div>
    </div>
    <!-- <div class="debug">
      <h3>Debug Only</h3>
      <div class="button-container">
        <a class="button button-block button-stable" href="#/connect-devices">
          Jump to Connect Devices
        </a>    
        <a class="button button-block button-stable" href="#/main/stream">
          Jump to User stream
        </a>  
      </div>
    </div> -->
  </content>
</view>
