<view title="'Fittr'">
  <content has-header="true" has-tabs="false" padding="false" class="splash">
    <div class="logo" style="margin-top: 8rem">SweatR</div>
    <div class="row" style="margin-top: 3rem">
      <div class="col btn-container">
        <a class="button button-block button-balanced" href="#/signup">
          Signup
        </a>
      </div>
      <div class="col btn-container">
        <a class="button button-block login-btn" href="#/login">
          Login
       </a>  
      </div>
    </div>
  </content>
</view>
