<div class="bar bar-header title-bar">
  <button class="button button-icon icon ion-navicon" ng-click="toggleMenu()"></button>
  <div class="h1 title white">Groups</div>
</div>

<content has-header="true">

  <div class="button-bar">
    <a class="button" ng-click="view('in')">Groups I'm In</a>
    <a class="button" ng-click="view('find')">Find Groups</a>
  </div> 

  <!-- Groups (find/search) -->
  <div class="bar bar-header item-input-inset" ng-show="v === 'find'">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchText" />
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </div>

  <!-- Groups (already in) -->
  <ul class="list groups" ng-show="v === 'in'">
    <li class="item" ng-repeat="group in groups">
      {{ group.name }}
      <div style="float: right; font-size: 1.5rem">
        <i class="ion-ios7-close-outline"></i>
      </div>
    </li>
  </ul>

  <!-- Groups (available) -->
  <ul class="list groups" ng-show="v === 'find'">
    <li class="item" ng-repeat="group in groups | filter: searchText">
      {{ group.name }}
      <div style="float: right; font-size: 1.5rem">
        <i class="ion-ios7-plus-outline" ng-click="addMe('{{ group.name }}')"></i>
      </div>
    </li>
  </ul>

  <!-- Groups (create) -->

</content>