<view>
  <div class="bar bar-header bar-stable">
    <a href="#/" class="button button-clear icon ion-chevron-left"></a>
    <h1 class="title">{{ title }}</h1>
  </div>

  <content has-header="false" has-tabs="false" padding="true" class="signup-margin">

    <!-- Flash Message -->
    <div class="flash animate-if" ng-if="signupLoginError">
      <span>{{ flashMessage }}</span>
      <i class="icon ion-close-round dismiss" ng-click="dismiss()"></i>
    </div>

    <!-- Email -->
    <form name="pwEmailForm" novalidate ng-hide="reset">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-email"></i>
          <input type="text" name="email" placeholder="Email"
            required
            ng-model="user.email"
            ng-minlength="5"
            ng-maxlength="254">
            <i class="icon ion-checkmark-circled success" ng-show="inputValid(pwEmailForm.email)"></i>
            <i class="icon ion-close-circled error" ng-show="inputInvalid(pwEmailForm.email)"></i>
        </label>

        <button class="button button-block button-balanced"
          ng-click="submit(pwEmailForm)"
          ng-disabled="!(pwEmailForm.$dirty && pwEmailForm.$valid)">
          {{ title }}
        </button>

        <div cg-busy="'loadingTracker'"></div>

      </div>
    </form>

    <!-- Password -->
    <form name="pwResetForm" novalidate ng-show="reset">
      <div class="list list-inset">
        <label class="item item-input label">
          <i class="icon ion-locked"></i>
          <input type="password" name="password" placeholder="Enter a password" required
            ng-model="user.password"
            ng-minlength="3">
            <i class="icon ion-checkmark-circled success" ng-show="inputValid(pwResetForm.password)"></i>
            <i class="icon ion-close-circled error" ng-show="inputInvalid(pwResetForm.password)"></i>
        </label>

        <button class="button button-block button-balanced"
          ng-click="submit(pwResetForm)"
          ng-disabled="!(pwResetForm.$dirty && pwResetForm.$valid)">
            {{ title }}
        </button>

        <div cg-busy="'loadingTracker'"></div>
      </div>
    </form>

  </content>
</view>