
<view title="title">
  <div class="bar bar-header bar-dark">
    <a href="#/"
    class="button button-clear 
    icon ion-chevron-left"></a>
    <h1 class="title">{{title}}</h1>
  </div>
  <content has-header="true" has-tabs="false" padding="true">
    <form name="signupLoginForm" novalidate>
      <div class="list list-inset">

        <!-- flash message -->
        <div class="flash animate-if" ng-if="signupLoginError">
          {{flashMessage}}
          <i class="icon ion-close-round dismiss"
            ng-click="dismiss()"></i>
        </div>

        <!-- user email -->
        <label class="item item-input">
          <i class="icon ion-email"></i>
          <input type="email" name="email" placeholder="Enter your email" required
            ng-model="user.email">
            <i class="icon ion-checkmark-circled success" ng-show="inputValid(signupLoginForm.email)"></i>
            <i class="icon ion-close-circled error" ng-show="inputInvalid(signupLoginForm.email)"></i>
        </label>

        <!-- user password -->
        <label class="item item-input">
          <i class="icon ion-locked"></i>
          <input type="password" name="password" placeholder="Enter a password" required
            ng-model="user.password"
            ng-minlength="3">
            <i class="icon ion-checkmark-circled success" ng-show="inputValid(signupLoginForm.password)"></i>
            <i class="icon ion-close-circled error" ng-show="inputInvalid(signupLoginForm.password)"></i>
        </label>

        <button class="button button-block button-balanced"
          ng-click="submit(signupLoginForm)"
          ng-disabled="!(signupLoginForm.$dirty && signupLoginForm.$valid)">
          {{title}}
        </button>
      </div>
    </form>
  </content>
</view>
