<content padding="true">

  <!-- SAMPLE -->
  <div class="list card" ng-click="back()">
    <!-- Card Header -->
    <div class="item item-avatar">
      <img src="http://ionicframework.com/img/docs/mcfly.jpg">
      <h2>Marty McFly</h2>
      <p>November 05, 1955</p>
    </div>

     <!-- Card Body -->
    <div class="item item-body">
      <nvd3-stacked-area-chart
        data="exampleData"
          id="exampleId"
          showXAxis="true"
          showYAxis="true"
          width="400"
          height="250">
          <svg></svg>
        </nvd3-stacked-area-chart>
    </div>

    <!-- Card Footer -->
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-thumbsup"></i>
        Like
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>
  </div>
</content>