<content padding="true">

  <!-- SAMPLE -->
  <div class="list card" ng-click="back()">
    <!-- Card Header -->
    <div class="item item-avatar">
      <img src="http://ionicframework.com/img/docs/mcfly.jpg">
      <h2>Marty McFly</h2>
      <p>November 05, 1955</p>
    </div>

     <!-- Card Body -->
    <div class="item item-body chart">
      <h3>Steps</h3>
      <nvd3-line-chart
        data="exampleData"
        id="interpolateExampleBasis"
        width="312"
        height="190"
        showXAxis="true"
        showYAxis="true"
        xAxisTickFormat="xAxisTickFormat()"
        interpolate="basis"
        margin="{left:30,top:30,bottom:24,right:14}"
        showLegend="true"
        isArea="true">
        <svg></svg>
      </nvd3-line-chart>
    </div>

    <!-- Card Footer -->
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-thumbsup"></i>
        Like
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>
  </div>
</content>