<div class="topbar">
  <div class="row">
    <div class="col">
      <img ng-src="{{ me.pic }}" style="border-radius: 50%; height: 75px; width: 75px" />
    </div>
    <div class="col" style="text-align: center">
      <span style="display: inline-block; font-size: 18px; font-weight: bold; margin-top: 20px">{{me.stats.steps | number}}</span>
      <br /><span style="color: #E64B5D; font-weight: bold; text-shadow: 0 0 3px #000">Steps</span>
    </div>
    <div class="col" style="text-align: center">
      <span style="display: inline-block; font-size: 18px; font-weight: bold; margin-top: 20px">{{me.stats.distance | number}}</span>
      <br /><span style="color: #E64B5D; font-weight: bold; text-shadow: 0 0 3px #000">Miles</span>
    </div>
    <div class="col" style="text-align: center">
       <span style="display: inline-block; font-size: 18px; font-weight: bold; margin-top: 20px">{{me.stats.veryActiveMinutes | number}}</span>
      <br /><span style="color: #E64B5D; font-weight: bold; text-shadow: 0 0 3px #000">Intense Mins</span>
    </div>
  </div>
</div>
