<div style="height: 100px; background: #F5F5F5; margin-top: 45px; padding: 5px">
  <div class="row">
    <div class="col"><img ng-src="{{avatar}}" style="border-radius: 50%; height: 75px; width: 75px" /></div>
    <div class="col" style="text-align: center">{{currentUser.steps | number}}<br />Steps</div>
    <div class="col" style="text-align: center">{{currentUser.distance | number}}<br />Distance</div>
    <div class="col" style="text-align: center">{{currentUser.calories | number}}<br />Calories</div>
  </div>
</div>
